html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	-webkit-user-select: none;
	min-width: 240px;
	min-height: 320px;
	
	background-color: rgb(250, 250, 250);
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
	color: black;
	text-decoration: none;
}

div {
	min-width: 0;
	box-sizing: border-box;
}



/**************************************************************
						Body Content
**************************************************************/
.body-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;

	transition: max-width 0.25s;
}

.body-content > * {
	transition: flex-grow 0.5s;
}

@media (max-width: 768px) {
	.body-content.menu-open {
		max-width: calc(100% - 250px);
	}
}



/**************************************************************
					  Image-Info Layout
**************************************************************/
.body-content .image-info-layout {
	display: flex;
	align-items: center;
	justify-content: center;
}

.body-content .image-info-layout .image {
	max-width: 150px;
	max-height: 150px;
	border-radius: 150px;
	margin: 10px 25px 10px 10px;
}

.body-content .image-info-layout .info {
	display: flex;
	flex-direction: column;
	cursor: default;

	
}

.body-content .image-info-layout .info > * {
	margin: 5px 0;
	letter-spacing: 1.5px;
}

.body-content .image-info-layout .title,
.body-content .section-content *[section] .title {
	font-size: 26px;
	font-weight: bold;
	color: #262626;
}

.body-content .image-info-layout .subtitle,
.body-content .section-content *[section] .content {
	font-size: 20px;
	color: #919191;
}

.body-content .image-info-layout .extra,
.body-content .read-more {
	font-size: 16px;
	color: #9c00cc;
}




/**************************************************************
							VCard
**************************************************************/
.body-content vcard {
	flex-grow: 1;
	height: 175px;
	z-index: 4;
}

.body-content.expanded vcard {
	flex-grow: unset;
	height: initial;
}

@media (max-width: 768px) {
	.body-content.menu-open vcard {
		flex-direction: column;
	}

	.body-content.menu-open vcard vcard-info {
		text-align: center;
	}
}

@media (max-width: 525px) {
	.body-content vcard {
		flex-direction: column;
	}

	.body-content vcard vcard-info {
		text-align: center;
	}

	.body-content.menu-open {
		max-width: 100%;
	}
}

@media (max-height: 500px) {
	.body-content.expanded vcard {
		flex-grow: unset;
		height: 0;
	}
}

.body-content vcard > img {
	border: solid #262626 1px;
}

.body-content vcard vcard-phone {
	font-size: 18px;
	letter-spacing: 0.5px;
}



/**************************************************************
						Section Content
**************************************************************/
.body-content .section-content {
	position: relative;
	overflow: hidden;
}

.body-content.expanded .section-content {
	flex-grow: 1;
}

.body-content .section-content > * {
	height: 100%;
	padding: 10px 50px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	background-color: rgb(250, 250, 250);
}

.body-content.expanded .section-content > *:not(.selected) {
	visibility: hidden;
	
	transition: visbility 0s ease 0.5s;
}

.body-content.expanded .section-content > *.selected {
	z-index: 2;
	-webkit-animation: smoothslide 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.body-content.expanded .section-content > *.last-selected {
	z-index: 1;
	visibility: visible;
}

.body-content:not(.expanded) .section-content > * {
	z-index: 0;

	transition: z-index 0s ease 0.5s;
}

@-webkit-keyframes smoothslide {
	0%		{top: 100%;}
	95%		{overflow: hidden; visibilty: hidden;}
	100%	{top: 0; overflow: auto; visibility: visible;}
}






.body-content .section-content > hr {
	border: 2px rgb(200, 200, 200) solid;
	border-radius: 2px;
	transition-duration: 2s;
}

.body-content.expanded .section-content > hr {
	width: 80%;
	min-width: 200px;
}

.body-content:not(.expanded) .section-content > hr {
	width: 0;
}



/**************************************************************
						  About Me
**************************************************************/
.body-content .section-content *[section="#about-me"] .title {
	font-size: 1.6rem;
}

.body-content .section-content *[section="#about-me"] .content {
	font-size: 1rem;
}

.body-content .section-content *[section="#about-me"] p {
	line-height: 1.9;
	margin: 0.5rem 0 1rem 0;
}




/**************************************************************
							Blog
**************************************************************/
.body-content .section-content *[section="#blog"] {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.body-content .section-content *[section="#blog"] topic {
	max-width: 500px;
	margin: 20px auto;
}

.body-content .section-content *[section="#blog"] .image {
	width: 100px;
	height: 100px;
}




/**************************************************************
							References
**************************************************************/



/**************************************************************
							General
**************************************************************/
.body-content .read-more {
	float: right;
	align-self: flex-end;

	cursor: pointer;
}



/**************************************************************
						  	   Menu
**************************************************************/
menu {
	all: unset;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 250px;
	
	transition: width 0.5s;
	background-color: #ededed;
}

menu:not(.expanded) {
	width: 0;
}

@media (max-width: 768px) {
	menu {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 5;
	}
}

menu .menu-icon,
menu .close-icon {
	position: absolute;
	left: -72px;
	width: 32px;
	padding: 10px;
	margin: 5px 10px;
	z-index: 5;
	cursor: pointer;
}

menu:not(.expanded) .menu-icon,
menu.expanded .close-icon {
	display: block;
}

menu.expanded .menu-icon,
menu:not(.expanded) .close-icon {
	display: none;
}

menu > * > * {
	padding: 10px 10px 10px 35px;
	white-space: nowrap;
	cursor: pointer;
}

menu menu-items,
menu external-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	margin-right: 35px;
}

menu menu-items {
	padding-top: 20px;
	font-size: 19px;
	
	color: #262626;
}

menu external-links {
	padding-bottom: 20px;
	font-size: 17px;
}

menu a,
menu a:hover,
menu a:active,
menu a:focus,
menu a:visited {
	color: #919191;
}

menu menu-items .selected {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;
	
	background-color: rgb(250, 250, 250);
}



/**************************************************************
						  	   General
**************************************************************/
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}