html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 400px;
	-webkit-user-select: none;
	
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


/**************************************************************
							VCard
**************************************************************/
#vcard {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

#vcard:hover {
	background: radial-gradient(rgba(247, 233, 252, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#portrait {
	width: 150px;
	height: 150px;
	border-radius: 150px 150px;
	margin: 10px;
	margin-right: 25px;
	
	border: solid #262626 1px;
}

#vcard > div {
	display: flex;
	flex-direction: column;
	cursor: default;
}

#name, #profession, #tag, #tag2 {
	margin: 5px 0;
	letter-spacing: 1.5px;
}

#name {
	font-size: 26px;
	font-weight: bold;
	color: #262626;
}

#profession {
	font-size: 20px;
	color: #919191;
}

#tag {
	font-size: 20px;
	color: #9c00cc;
}

#tag2 {
	font-size: 18px;
	color: #9c00cc;
	letter-spacing: 0.5px;
}


/**************************************************************
							Menu Icon
**************************************************************/
#menu-icon, #close-icon {
	position: absolute;
	left: -72px;
	width: 32px;
	padding: 10px;
	margin: 5px 10px;
	cursor: pointer;
}

#menu-icon.hidden, #close-icon.hidden {
	display: none;
}


/**************************************************************
							Menu
**************************************************************/
#more-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 100%;
	width: 250px;
	
	transition: width 0.5s;
	
	background-color: #ededed;
}

#more-info > div > span {
	padding: 10px 10px 10px 35px;
	white-space: nowrap;
	cursor: pointer;
}

#my-content, #my-profiles {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 35px 35px 35px 0;
	overflow: hidden;
}

#my-content {
	min-height: 175px;
	font-size: 19px;
	
	color: #262626;
}

#my-profiles {
	min-height: 75px;
	font-size: 17px;
	
	color: #919191;
}

#my-content .selected {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;
	
	background-color: #ffffff;
}

#more-info.hidden {
	width: 0;
}